<div class="col-md-6 mx-auto">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-hourglass-half fa-spin"></i> &nbsp;&nbsp;Installing</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div class="card-body">

            <dl class="row d-inline">
                <dt class="col-sm-12">The installation is started</dt>
                <dd class="col-sm-12">
                    A background process is installing the codebase and generating everything needed for your system
                    to work. It is ok to close this browser window, an email will be send to you with further
                    information once the installation is finished.
                    <br /><br/>
                    If you leave this window open, you will be redirected to the admin panel as soons as the procedure
                    is ready. It should not take more then a few minutes.
                </dd>
            </dl>
        </div>
    </div>
</div>
